* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}



/* FONTS */
h1, h2, h3, h4, h5 {
  font-family: 'roboto serif';
  text-transform: uppercase;
  color: #2d2c2a;
}

header a img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
header p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 21px;
}


.spotlight {
  color: black;
}

.funcionamento {
  padding-bottom: 20px;
}

.fill, .filll, .size{
  font-family: 'roboto';
  overflow-x: hidden;
}
.size, .price {
  display: inline-block;
  font-weight: bold;
  width: max-content;
}
.fill, .filll {
  flex: 1;
  padding-left: 2px;
  color: rgba(0, 0, 0, 0.6);
}

.size {
  text-transform: none;
  
}
.box-line {
  overflow-y: hidden;
  overflow-x: hidden;
}

.desc, .desc_p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}
.desc_p {
  margin-bottom: 0px;
}


/* FONTS */
body {
  background-color: #ffedd5;
  font-family: 'roboto',sans-serif;
  max-width: 100%;
  
  align-items: center;
}
  
  


header {
  background-color: rgba(254, 215, 170, 0.5);
  padding-bottom: 5px;
  text-align: center;  
  margin: 25px auto;
  margin-top: 0;
  max-width: 95%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0.5px 0.5px;
}

header h1 {
  margin-bottom: 2px;
  margin-top: 1px;
  line-height: 1;
  font-size: 28px;  
}

header h1 span {
  color: #AD3825;
}

header p {
  line-height: 17px;
}
.section {
  max-width: 95%;
}

section ul, section h2 {
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
}


footer h2  {
  
  padding: 05px 0px;
  border-radius: 5px 5px 5px 5px;
  
}
footer p {
  font-size: 10px;
  margin: 0px 10px;

}
footer {
  
}
#footer {
  border-radius: 10px 10px 0px 0px;
  color: rgba(89, 23, 13, 1);  
  background-color: rgba(254, 215, 170, 0.5);
  text-align: center;
  padding: 1px 0px;
  margin: 25px auto ;
  max-width: 95%;
}


footer a, #rights a {
  
  text-decoration: none;
  color: #2d2c2a;
}


section h2 {
  background-color: #fed7aa ;
  text-align: center;
  padding:8px 16px;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px;
}
footer h2 {
  box-shadow: none !important;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 4px !important; 
}
.price {
  background-color: rgba(254, 215, 170, 0.5);
  border: 1px solid #fed7aa ;
  padding: 0px 3px;
  box-shadow:0.8px 0.8px;
  border-radius: 3px;
  margin-right: 3px;
  
}
#dashed {
  box-shadow:0.8px 0px;
  padding-bottom:0px;
}


.chopp_name h3, .drink_name h3 {
font-size: 16px;
}
.drinks ul li {
  padding-top: 5px;
  border: 1px solid #FED7AA;
  border-radius: 3px;
  padding-bottom: 3px;
}
#combo {
  line-height: 10px;
}
ul #combo h3 {
  margin-bottom: 10px;
}
.filll {
  line-height: 30px;

}
#combo .price, #drinks .price, #porcoes .price {
  line-height: 20px;
  margin-top: 3px;
  padding-top: 2px;
}
h5 {
  margin-bottom: 5px;
}

ul li {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-bottom: 10px;
   list-style: none;
   line-height: 20px;
   max-width: 100%;
}
.porcoes {
  line-height: 20px;
}
.porcoes ul li {  
  padding-top: 5px;
  padding-bottom: 3px;
  border-bottom: 1px outset #FED7AA;
  border-left: 1px outset #FED7AA;
  border-radius: 3px;
}


#plus {
  font-family: "roboto";
}

.chopp_name, .drink_name {
  display: flex;
  flex-direction: column;   
}

.size_price {
 
  display: flex;
  justify-content: space-between; 
}
.price {
  font-family: 'roboto';
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 3px;
  margin-left: 2px;
}
.size {
  padding-bottom: 0px;
  font-size: 18px;
}
/* FONTS */


/* BUTTONS */

nav {
  margin-bottom: 2px;
  align-items: center;
}

nav ul {
  justify-content: space-around;
  text-transform: uppercase;
  margin-bottom: 10px;
 
}

nav ul li {
  display: inline;  
  background-color: rgba(173, 56, 37, 0.9);
  border-radius: 5px;
  padding: 3px 0;
  box-shadow: 2px 2px;  
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding-left:3.5px;
  padding-right:3.5px;
  font-size: 14px;
  font-family: 'roboto serif';
  text-shadow: 1px 1px #2d2c2a;
}
/* BUTTONS END */

/*BACK TO TOP */
.to-top {
  background-color: #fed7aa;
  position: fixed ;
  bottom: 16px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: auto;
  transition: all .4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 0.8;
}
/*BACK TO TOP END */

.footer {
  box-shadow: 1px 1px;
}

.bcs, .design {
  font-family: "roboto serif";

}
#design  {
  padding-bottom: 5px;
}



#rights {
  margin-top: 30px;
}

/* ESTILIZAÇÃO DO MODAL*/
html {
  background-color: #FFEDD5;
}
.botao {
  background-color: #ae5041;
  color: #fefefe;
  font-size: 10px;  
  font-family: 'roboto serif';
  font-weight: bold;
  border: #000 solid 1px;
  border-radius: 5px;
  padding: 1px 5px;  
  cursor: pointer;
  margin-right: 5px;


}

#modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-top: 20%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#modal-content {
  background-color: #FED7AA;  
  margin: 15% auto;
  padding: 20px;
  width: 95%;
}
#modal-image {
  width:80%;
  height: auto;
}


#modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modal-close:hover,
#modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* FIM DA ESTILIZAÇÃO DO MODAL*/

.name-button {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.name-button h3 {
  font-size: 16px ;
}

.description,.sub-description, .desc_p {
  padding-right: 3px;
  padding-left: 3px;
}

.desc, .size {  
  padding-left: 3px;
}

.description, .sub-description, .botao {
  min-width: max-content;
}
.name-button-drinks {
  
  padding-bottom: 10px;

}
.no-image {
  background-color: #aaa;
  color: #000;
}
.no-padding {
  padding-bottom: 0;
}
.no-padding-left{
  padding-left: 0;
}
