* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}


/* FONTS */
h1, h2, h3, H4 {
  font-family: 'roboto serif';
  text-transform: uppercase;
  color: #2d2c2a;
}
header a img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
header p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 21px;
}

.funcionamento {
  padding-bottom: 20px;
}

.fill, .size, .filll {
  font-family: 'roboto';
}
.size {
  text-transform: none;
  
}
.desc, .desc_p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}
.desc_p {
  margin-bottom: 0px;
}
.fill, .filll {
  color: rgba(0, 0, 0, 0.6);
  
}

/* FONTS */

body {
  background-color: #ffedd5;
  font-family: 'roboto',sans-serif;
  min-width: 380px;
  ;
}
header {
  padding-bottom: 15px;
  text-align: center;
  
}
header h1 {
  margin-bottom: 2px;
  margin-top: 1px;
  line-height: 1;
  font-size: 28px;
}
header h1 span {
  color: #AD3825;
}
header p {
  line-height: 17px;
}
section {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
section h2 {
  background-color: #fed7aa ;
  text-align: center;
  padding:8px 16px;
  margin-bottom: 15px;
  font-size: 18px;

}
.chopp_name h3 {
font-size: 16px;

}



ul li {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-bottom: 15px;
   list-style: none;
}

.chopp_name {
  display: flex;
  flex-direction: column;
  
  
}


.size_price {
 
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  
}
.price {
  font-family: 'roboto';
}


nav {
  margin-bottom: 5px;
  
}
nav ul {
  
  justify-content: space-around;
  

}

nav ul li {
  display: inline;  
  background-color: #AD3825;
  border-radius: 10px;
  
  padding: 7px 0;
  
  
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding-left:8.5px;
  padding-right: 8.5px;
  padding-top: 50px;

}